#root {
  width: 100%;
  border: none;
  overflow: hidden;
}

.screen {
  position: relative;
  display: flex;
  justify-content: center;
  color: rgb(57, 91, 68);
  background: rgb(236, 252, 240, 80%);
  height: 100vh;

  .background {
    height: 100%;
    pointer-events: none;

    .worldMap {
      width: 150%;
      height: 150%;
      position: relative;
      right: 31%;
      bottom: 12%;

      path {
        fill: rgba(191, 216, 221);
        stroke: rgb(191, 216, 221);
        stroke-width: 1px;
      }
    }
  }

  .mainPanel {
    position: absolute;
    justify-self: center;
    align-self: center;
    width: 90%;
    max-width: 1200px;

    .content {
      display: grid;
      grid-template-columns: 5fr 2fr;
      gap:5vw;
      align-items: center;


      .countrySelection {
        margin-top: 0;
        align-content: left;
        text-align: left;
        justify-self: center;
        background: rgb(216, 232, 220, 90%);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.50);
        border: 12px solid rgb(216, 232, 220);
        border-radius: 20px;
      }

      ul {
        padding-left: 0;

        h3 {
          margin-top: 0;
        }

        li {
          width: 100%;
          display: block;
          list-style: none;
          padding: 0.5em 0 0.5em;
          text-align: center;
          border-bottom: 1px solid rgb(57, 91, 68, 10%);

          button {
            display: block;
            background: none;
            border: none;
          }

          &.active {
            background: rgb(57, 91, 68, 10%);
            border-radius: 10px;
          }
        }
      }

      .chart {
        padding: 1em 1em 1em 1em;
        margin: 0;
        background: rgb(236, 252, 240, 80%);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.50);
        border: 12px solid rgb(216, 232, 220);
        border-radius: 20px;
      }

      .countryChart {
        position: absolute;
        text-transform: uppercase;
        justify-self: center;

        top: 98%;

        h2 {
          display: inline-block;
          padding: 10px;
          background: rgb(216, 232, 220);
          border-bottom-left-radius: 35px;
          border-bottom-right-radius: 10px;

          color: rgb(57, 91, 68)
        }
      }
    }
  }

  @media (max-width: 780px) {

    .background {

      .worldMap {
        width: 240%;
        height: 240%;
        position: relative;
        right: 60%;
        bottom: 60%;

        path {
          fill: rgba(191, 216, 221);
          stroke: rgb(191, 216, 221);
          stroke-width: 1px;
        }
      }
    }

    .mainPanel {
      width: 80%;

      .content {
        grid-template-columns: 1fr;
        border-bottom-right-radius: 0;

        .part2 {
          order: -1;

          .countrySelection {
            display: grid;
            grid-template-columns: repeat(6, 1fr);

            h3 {
              grid-column: 1 / -1;
              /* span from the first line to the last line = full row */
            }

            li {
              padding: 0;
              border: none;
            }
          }
        }

        .countryChart {
          right: 0;
        }
      }
    }
  }
}